<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-img
        style="width: 50px;height: 50px; border-radius: 50% !important; margin-left: 20px"
        src="https://i.pinimg.com/originals/ff/e9/9e/ffe99e1f801119d3ae8cf3ed38f04987.jpg"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="circle">

        <ion-icon style="color: #5C6D8C; font-size: 2rem" slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

